.tree {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5%;
  margin-top: 12%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 6%;
}
.node {
  height: 5vh;
  color: aliceblue;
  width: 5vh;
  border: 2px solid aliceblue;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.row_divider_left {
  width: 19%;
  border: 1px solid white;
  transform: rotate(153deg);
  margin-left: 25%;
}
div.row_divider_right {
  width: 19%;
  border: 1px solid white;
  transform: rotate(-153deg);
  margin-right: 25%;
}
.divider_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}
div.row_divider_left3 {
  width: 50%;
  border: 1px solid white;
  transform: rotate(133deg);
  margin-top: 2%;
}
div.row_divider_right3 {
  width: 50%;
  border: 1px solid white;
  transform: rotate(-130deg);
  margin-top: 2%;
}
div.row_divider_left4 {
  width: 50%;
  border: 1px solid white;
  transform: rotate(130deg);
  margin-top: 2%;
}
div.row_divider_right4 {
  width: 50%;
  border: 1px solid white;
  transform: rotate(-132deg);
  margin-top: 2%;
}
.divider_div2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}
div.row_divider_left5 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(117deg);
  margin-top: 2%;
}
div.row_divider_right5 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(-117deg);
  margin-top: 2%;
}
div.row_divider_left6 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(117deg);
  margin-top: 2%;
}
div.row_divider_right6 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(-117deg);
  margin-top: 2%;
}
div.row_divider_left7 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(117deg);
  margin-top: 2%;
}
div.row_divider_right7 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(-117deg);
  margin-top: 2%;
}
div.row_divider_left8 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(117deg);
  margin-top: 2%;
}
div.row_divider_right8 {
  width: 35%;
  border: 1px solid white;
  transform: rotate(-117deg);
  margin-top: 2%;
}
.divider_div3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 4%;
}
.inner_divider {
  width: 25%;
  display: flex;
  justify-content: center;
}
.glow {
  filter: drop-shadow(0 0 0.6em rgb(255, 190, 51));
  transition: filter 1s;
}
@media only screen and (max-width: 650px) {
  .tree {
    padding-bottom: 50px;
    margin-top: 30%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 650px) {
  .tree {
    padding-bottom: 50px;
    margin-top: 19%;
  }
}
